<!DOCTYPE HTML5>
<html>
	<head>
		<title>Ejercicios prácticos HTML5</title>
		<meta charset="utf-8">
	</head>
	<body background="fondo.jpg">
        <div class="container">
            <table class="table table-hover" id="busqueda" style="width:100%">
                <tr>

                    <th>Ubicacion</th>
                    <th>Precio</th>
                    <th>Metros</th>
                    <th>Info</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Url</th>
                </tr>
                
            </table>
        </div>
</body>
</html>